{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "react-app"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "root": true,
  "rules": {
    "no-console": "warn",
    "no-restricted-imports": [
      "error",
      {
        "paths": [{
          "name": "styled-components",
          "message": "Please import from styled-components/macro."
        }],
        "patterns": [
          "!styled-components/macro"
        ]
      }
    ],
    "no-unused-expressions": "warn",
    "object-curly-spacing": ["warn", "always"],
    "quotes": ["warn", "single", { "avoidEscape": true }],
    "semi": "warn",
    "react/jsx-first-prop-new-line": ["warn", "multiline"],
    "react/jsx-indent": ["warn", 2],
    "react/jsx-indent-props": ["warn", 2],
    "react/jsx-no-duplicate-props": "warn",
    "react/jsx-sort-props": "warn",
    "react/jsx-max-props-per-line": ["warn", { "maximum": 1 }]
  }
}
